head
	link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/journal/bootstrap.min.css", rel="stylesheet")
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	style.
		#heroPhoto {
			margin: auto;
		}
		a {
			color: inherit
		}
	title Phoenix Healing Field
body
	.container
		h1.page-header Phoenix Healing Field
		each person in peopleList
			p: a(href = "/#{person.hash}") #{person.name}
